<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Live rating</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/tr-min.css" type="text/css" />
</head>
    <body>
     <div class="container">
       <!-- New Nav -->
       <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/hub/">
              <img alt="Brand" src="http://talentrank.co/static/main/images/home/tr-icon-nav-chevron.svg">
            </a>         
          </div>
          
        </div>
      </nav>
      <!-- END New Nav -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="central-well">

    <div id="render-main">
    </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" charset="utf-8">
google.load('visualization', '1', {packages: ['corechart', 'line']});
</script>

<script src="/static/bundle.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
